<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-3">
        <jhi-line-chart *ngIf="showChart"></jhi-line-chart>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-3">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            Last update: {{ lastUpdate }}
        </div>
        <div class="col-xs-12 col-md-12 col-md-offset-3">
                <div class="col-xs-12 col-md-12">
                    <label for="countries">Country: </label>
                    <select class="form-control" id="countries" #countrySelected (change)="onChange($event)">
                        <option *ngFor="let el of files">{{ el  }}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-12">
                    <label for="provinces">Province: </label>
                    <select class="form-control" id="provinces" #provinceSelected>
                        <option *ngFor="let el of province">{{ el }}</option>
                    </select>
                </div>

        </div>
        <div class="col-xs-12 col-md-12 col-md-offset-3" style="margin-top: 5px">
            <button class="btn btn-primary" (click)="onNewData(countrySelected.value, provinceSelected.value)" [disabled]="numberOfCountries >= 5" >Add</button>
            <button class="btn btn-danger" (click)="onReset()">Reset</button>
        </div>
    </div>

</div>
